# Идентификатор приложения. Используйте его в запросах для получения OAuth-токена
CLIENT_ID=
# Секретный ключ, которым будет подписан jwt-токен с информацией о пользователе
CLIENT_SECRET=
# Адрес в интернете
BASE_URL=http://localhost:8080
POSTGRES_PORT=5432
SPRING_DATASOURCE_URL="jdbc:postgresql://localhost:${POSTGRES_PORT}/volunteer_gateway"
POSTGRES_USER=volunteer_gateway
POSTGRES_PASSWORD=
